@font-face {
    font-family: styleKbron;
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,400;1,700&display=swap');
}

.container {
    font: 'styleKbron';
}

.container h1 {
    font: bold;
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgb(22, 22, 22, 0.8);
    color: #fff;
    margin: 5% 5%;
    padding: 1% 1%;
}

* {
    font-family: Poppins;
}

body {
    background-image: url("imgs/space3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centered-image {
    margin: 0 auto;
}

#result button {
    display: block;
    margin: 20px auto;
}

.result-item {
    margin-bottom: 20px;
    background-color: rgba(24, 11, 11, 0.5);
    /* Fondo semitransparente */
    border-radius: 10px;
    /* Borde redondeado */
    padding: 10px;
    /* Espacio interno */
    position: relative;
    /* Para el posicionamiento relativo */
}

.result-item img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    /* Borde redondeado para la imagen */
}

.result-item h3,
.result-item p {
    text-align: center;
    /* Centrar el texto */
    color: white;
    /* Color del texto */
}

.result-item h3 {
    margin-top: 10px;
}

.result-item p {
    margin-top: 5px;
}

.title {
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.InputContainer {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}

.button {
    --font-color: #323232;
    --bg-color: #fff;
    --main-color: #323232;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    margin-left: 2%;
}

.button:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}